// .matt-widt {
//    margin-top: 10px;
//    margin-left:10px;
// 	width: 50%;
// }
// .mat-raised-button {
// 	font-size: large;
// 	width: 120px;
// 	color: white;
// 	height: 40px;
// 	background-color: orange;
// 	left: 400px;
// }
// // .mat-checkbox {
// // 	margin: 10px 40px 10px 0px;
// // }
// .toolbar-spacer {
// 	&:hover {
// 		color: red;
// 		cursor: pointer;
// 	}
// 	margin: 0px 10px 10px 330px;
// }
// .mat-button {
// 	font-size: large;
// 	font-weight: bold;
// 	right: 50px;
// 	bottom: 3px;
// }
// .mat-card {
// 	top: 250px;
// }
// .examt{
//    width:550px;
// }

.matt-widt {
      margin-top: 10px;
      margin-left:12px;
   	width: 30%;
   }
   .mat-raised-button {
      	font-size: large;
      	width: 120px;
      	color: white;
      	height: 40px;
      	background-color: orange;
         margin:10px 10px 10px 10px;
      }
      .dropdown-stylz {
      width:29%;
       margin:10px 10px 10px 10px;
      }
      .text-danger{
      font-size: x-small;
      }